.searchSection{
    display: block;
    background-color: #ddd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchMovie{
    width: 200px;
    border-radius: 5px;
}

.movieCardDiv{
    border: 1px solid red;
    width: 90%;
    margin: 10px auto;
}