

.movieCard{
    border: 1px solid blue;
    width: 22%;
    margin: 10px 10px 0;
    padding: 10px;
    
}

.movieCard:hover .overview{
    transform: translateY(0%);
}
.movieCard img{
    width: 100%;

}

.miniCardTitle{
    display: block;
    height: 40px;
    background-color: #5a95f5;
    color: white;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    position: relative;
    transform: translateY(-5px);
}

.overview{
    color: white;
    position: absolute;
    bottom: 0;
    /* left: 0; */
    background-color: rgba(0,0,0,0.5);
    font-size: 1.5rem;
    padding: 1rem;
    transform: translateY(100%);
    z-index: 1;
    transition: transform 0.7s ease-in-out;
}
/* .overview:hover{
    max-height: 500px;
    transition: all 2.2s;
} */